{% extends "base.html" %}
{% block title %}TEAMS{% endblock title %}
{% block afternav %}

      <!--Displaying the franchises-->
      <div class="container-fluid padding">
        <div class="row text-center padding">
          <div class="col-12">
            <h1>TEAM INFORMATION</h1>
          </div>
          <hr class="my-hr">
        </div>
      </div>

      <!-- Franchises -->
      <div class="container-fluid padding" style="padding-top:10px">
        <div class="row padding">
          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.royalchallengers.com/" class="card-link"><div class="inner"><img src="../static/images/RCB.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.chennaisuperkings.com/CSK_WEB/index.html"><div class="inner"><img src="../static/images/CSK.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.sunrisershyderabad.in/"><div class="inner"><img src="../static/images/SRH.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.kxip.in/"><div class="inner"><img src="../static/images/KXIIP.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          </div>
          </div>

          <div class="container-fluid padding" style="padding-top:10px">
          <div class="row padding">

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.kkr.in/"><div class="inner"><img src="../static/images/KKR.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.mumbaiindians.com/"><div class="inner"><img src="../static/images/MI.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.rajasthanroyals.com/"><div class="inner"><img src="../static/images/RR.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6" >
            <div class="card">
              <a href="https://www.delhicapitals.in/"><div class="inner"><img src="../static/images/DC.png" class="card-img-top" alt="..."></div></a>
            </div>
          </div>

          </div>
          </div>

{% endblock afternav %}
